@import "../../../../variables.scss";

.modal-header {
    background-color: $pink;
    color: white;
}

.btn-primary {
    background-color: $pinkButton;
    color: white;
}

.form-label,
.text-danger {
    color: white;
}